@charset "UTF-8";
/*Обнуление*/
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nunito&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Work+Sans&display=swap");
* {
  padding: 0;
  margin: 0;
  border: 0; }

*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

:focus, :active {
  outline: none; }

a:focus, a:active {
  outline: none; }

nav, footer, header, aside {
  display: block; }

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%; }

input, button, textarea {
  font-family: inherit; }

input::-ms-clear {
  display: none; }

button {
  cursor: pointer; }

button::-moz-focus-inner {
  padding: 0;
  border: 0; }

a, a:visited {
  text-decoration: none; }

a:hover {
  text-decoration: none; }

ul li {
  list-style: none; }

img {
  vertical-align: top; }

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit; }

/*--------------------*/
.slider .slick-list {
  overflow: hidden; }

.slider .slick-track {
  display: flex; }

.slider .slick-dots {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  justify-content: center;
  -ms-align-items: center;
  align-items: center;
  position: relative;
  bottom: 60px; }

.slider .slick-dots li {
  width: 20px;
  height: 20px;
  cursor: pointer; }

.slider .slick-dots li button {
  font-size: 0;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background-color: #b0e8e6;
  margin: 0 5px; }

.slider .slick-dots li.slick-active button {
  width: 10px;
  height: 10px;
  background-color: #ffffff; }

body {
  background-color: #fff; }

.container {
  max-width: 1200px;
  margin: auto; }

.title {
  font-family: Montserrat;
  color: #191919;
  font-size: 30px;
  line-height: 60px;
  font-weight: 700;
  letter-spacing: 0.3px; }

.header {
  padding: 40px 30px;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 5;
  background-color: transparent;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s; }

.header_act {
  background: #353535; }

@media (max-width: 930px) {
  body.lock {
    overflow: hidden; }
  .icon-menu {
    display: block;
    top: 45px;
    right: 30px;
    width: 30px;
    height: 18px;
    cursor: pointer;
    z-index: 4;
    position: absolute; }
    .icon-menu span {
      background-color: #fff;
      transition: all 0.3s ease 0s;
      top: 8px;
      left: 0;
      position: absolute;
      width: 100%;
      height: 2px; }
      .icon-menu span:first-child {
        top: 0px; }
      .icon-menu span:last-child {
        top: auto;
        bottom: 0; }
    .icon-menu.active span {
      background-color: #fff; }
      .icon-menu.active span:first-child {
        transform: rotate(-45deg);
        top: 8px; }
      .icon-menu.active span:nth-child(2) {
        transform: scale(0); }
      .icon-menu.active span:last-child {
        transform: rotate(45deg);
        bottom: 8px; }
  .menu__nav {
    position: fixed;
    top: -100%;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 150px 0 20px 0;
    transition: all 0.3s ease 0s;
    overflow: auto;
    background-color: #333333;
    z-index: 3; }
  .menu__nav.active {
    top: 0; }
  .menu__nav {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 100px 0 0 0; }
    .menu__nav a {
      font-size: 25px;
      margin: 15px 0;
      text-align: center;
      color: #fff; } }

.menu {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  justify-content: space-between;
  -ms-align-items: center;
  align-items: center; }
  .menu__logo {
    width: 30px;
    height: 25px;
    background: url("../img/header/header__logo.png") 0 0/cover;
    z-index: 4; }
  .menu__item {
    font-family: Montserrat;
    color: #fff;
    font-size: 12px;
    font-weight: 700;
    line-height: 24px;
    text-transform: uppercase;
    letter-spacing: 1.2px;
    padding: 0 15px;
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s; }
    .menu__item.active {
      color: #10c9c3; }
    .menu__item:hover {
      color: #10c9c3; }

.banner {
  background: url("../img/banner__bg.jpg") 0 0/cover;
  height: 100%;
  width: 100%;
  text-align: left;
  position: relative;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  -ms-align-items: center;
  align-items: center;
  padding: 0 50px 0 0; }
  @media (max-width: 630px) {
    .banner {
      text-align: center;
      padding: 0 30px; } }
  .banner .container {
    position: relative;
    height: 250px;
    width: 1200px; }
  .banner__content {
    position: absolute;
    right: 0; }
  .banner__title {
    font-family: Montserrat;
    color: #fff;
    font-size: 38px;
    font-weight: 700;
    font-size: 38px;
    line-height: 48px;
    letter-spacing: 0.38px; }
    @media (max-width: 480px) {
      .banner__title {
        font-size: 30px;
        line-height: 35px; } }
  .banner__text {
    max-width: 450px;
    font-family: Nunito;
    font-size: 18px;
    line-height: 28px;
    letter-spacing: 0.09px;
    color: #C9C9C9;
    padding: 30px 0; }
  .banner__btn {
    display: block;
    width: 180px;
    height: 50px;
    background-color: #10c9c3;
    font-family: Montserrat;
    color: #fff;
    font-size: 12px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 1.2px;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    justify-content: center;
    -ms-align-items: center;
    align-items: center;
    cursor: pointer;
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s; }
    @media (max-width: 630px) {
      .banner__btn {
        margin: auto; } }
    .banner__btn:hover {
      background-color: #0B8D89; }

.about {
  text-align: center;
  padding: 100px 30px; }
  .about__text {
    max-width: 620px;
    color: #787878;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.08px;
    font-family: Nunito;
    margin: auto;
    padding: 10px 0 30px 0; }
  .about__signature {
    width: 223px;
    margin: auto; }
    .about__signature img {
      width: 100%; }

.skills__row {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex; }
  @media (max-width: 1100px) {
    .skills__row {
      -webkit-flex-direction: column;
      -moz-flex-direction: column;
      -ms-flex-direction: column;
      -o-flex-direction: column;
      flex-direction: column; } }

.skills__column {
  flex: 1 1 50%;
  background-color: #e9e9e9;
  min-height: 500px; }
  .skills__column img {
    width: 100%; }
  .skills__column:first-child {
    background-color: #f8f9f9;
    padding: 35px 20px;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    justify-content: center;
    -ms-align-items: center;
    align-items: center; }
  @media (max-width: 1100px) {
    .skills__column {
      flex: 1 1 100%; } }

.skills__content {
  text-align: left; }

.skills__subtitle {
  color: #000000;
  font-family: Montserrat;
  font-size: 12px;
  font-weight: 700;
  line-height: 30px;
  text-transform: uppercase;
  letter-spacing: 1.2px;
  padding: 25px 0 10px 0; }

.skills__progress {
  width: 500px;
  height: 3px;
  background-color: #d8d8d8;
  position: relative; }
  @media (max-width: 630px) {
    .skills__progress {
      width: 300px; } }
  .skills__progress:before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 0;
    height: 3px;
    background-color: #10c9c3; }
  .skills__progress.skills__progress1_act:before {
    animation: 1s progress-one forwards; }
  .skills__progress.skills__progress2_act:before {
    animation: 1s progress-two forwards; }
  .skills__progress.skills__progress3_act:before {
    animation: 1s progress-three forwards; }

@keyframes progress-one {
  100% {
    width: 336px; } }

@keyframes progress-two {
  100% {
    width: 428px; } }

@keyframes progress-three {
  100% {
    width: 280px; } }

@media (max-width: 630px) {
  @keyframes progress-one {
    100% {
      width: 225px; } }
  @keyframes progress-two {
    100% {
      width: 270px; } }
  @keyframes progress-three {
    100% {
      width: 195px; } } }

.numbers {
  width: 100%;
  padding: 100px 0;
  background-color: #10c9c3; }
  .numbers__row {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    justify-content: center;
    -ms-align-items: center;
    align-items: center; }
    @media (max-width: 1100px) {
      .numbers__row {
        -webkit-flex-direction: column;
        -moz-flex-direction: column;
        -ms-flex-direction: column;
        -o-flex-direction: column;
        flex-direction: column; } }
  .numbers__item {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    -ms-align-items: center;
    align-items: center;
    padding: 0 30px; }
    @media (max-width: 1100px) {
      .numbers__item {
        -webkit-flex-direction: column;
        -moz-flex-direction: column;
        -ms-flex-direction: column;
        -o-flex-direction: column;
        flex-direction: column;
        padding: 30px 0; } }

.item-numbers__icon {
  width: 40px;
  margin: 0 15px 0 0; }
  .item-numbers__icon img {
    width: 100%; }

.item-numbers__text {
  margin: 0 0 0 15px; }
  .item-numbers__text p:first-child {
    font-family: Montserrat;
    color: #fff;
    font-size: 18px;
    font-weight: 700;
    line-height: 30px;
    letter-spacing: 0.54px; }
    @media (max-width: 1100px) {
      .item-numbers__text p:first-child {
        padding: 10px 0 5px 0; } }
  .item-numbers__text p:last-child {
    font-family: Montserrat;
    font-weight: 500;
    font-size: 12px;
    color: #fff;
    line-height: 20px;
    letter-spacing: 1.2px; }

@media (max-width: 1100px) {
  .item-numbers {
    text-align: center; }
    .item-numbers__text, .item-numbers__icon {
      margin: 0; } }

.work {
  position: relative; }
  .work__row {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    flex-wrap: wrap; }
  .work__item {
    flex: 1 1 25%;
    cursor: pointer;
    height: 500px;
    overflow-y: hidden;
    position: relative; }
    @media (max-width: 786px) {
      .work__item {
        flex: 1 1 50%; } }
    @media (max-width: 630px) {
      .work__item {
        flex: 1 1 100%; } }
    .work__item:before {
      -webkit-transition: all 0.3s ease 0s;
      -o-transition: all 0.3s ease 0s;
      transition: all 0.3s ease 0s;
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: #141414;
      opacity: 0; }
    .work__item img {
      height: 100%;
      width: 100%; }
    .work__item:hover:before {
      opacity: 0.85; }
  .work__eye {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    justify-content: center;
    -ms-align-items: center;
    align-items: center;
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    opacity: 0; }
    .work__eye img {
      width: 50px;
      height: 30px; }
    .work__eye:hover {
      opacity: 1; }
  .work__load {
    font-family: Montserrat;
    text-transform: uppercase;
    font-weight: 500;
    letter-spacing: 1.2px;
    color: #8e8e8e;
    background-color: #f5f5f5;
    font-size: 12px;
    width: 100%;
    padding: 30px 0;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    justify-content: center;
    -ms-align-items: center;
    align-items: center;
    cursor: pointer;
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s; }
    .work__load:hover {
      color: #111;
      background-color: #DDD; }

.hidden {
  display: none; }

.workProcess {
  text-align: center;
  padding: 100px 0; }
  .workProcess__subtitle {
    max-width: 500px;
    color: #787878;
    font-family: Nunito;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.08px;
    margin: auto;
    padding: 20px 0 40px 0; }

.video-workProcess {
  max-width: 100%;
  height: 570px;
  background-color: #e9e9e9;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  justify-content: center;
  -ms-align-items: center;
  align-items: center;
  margin: 0 50px; }
  @media (max-width: 630px) {
    .video-workProcess {
      margin: 0; } }

.video-workProcess__playIcon {
  width: 85px;
  height: 85px;
  background-color: #10c9c3;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  justify-content: center;
  -ms-align-items: center;
  align-items: center;
  border-radius: 50%;
  cursor: pointer; }

.services {
  width: 100%;
  padding: 70px 0;
  background-color: #f5f5f5; }
  .services__row {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    justify-content: center;
    -ms-align-items: center;
    align-items: center;
    flex-wrap: wrap; }
  .services__item {
    padding: 30px; }
    @media (max-width: 1150px) {
      .services__item {
        flex: 0 0 50%; } }
    @media (max-width: 630px) {
      .services__item {
        flex: 0 0 100%; } }

.item-services {
  text-align: center; }
  .item-services__icon {
    width: 45px;
    margin: auto; }
    .item-services__icon img {
      width: 100%; }
  .item-services__title {
    padding: 20px 0;
    font-family: Montserrat;
    font-size: 12px;
    font-weight: 700;
    line-height: 30px;
    text-transform: uppercase;
    letter-spacing: 1.2px; }
  .item-services__subtitle {
    max-width: 230px;
    margin: auto;
    font-family: Nunito;
    color: #787878;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.08px; }

.slider {
  position: relative; }
  .slider__item {
    padding: 180px 30px 120px 30px; }

.item-slider {
  background-color: #10c9c3;
  width: 100%;
  text-align: center; }
  .item-slider__title {
    max-width: 800px;
    font-family: Montserrat;
    color: #fff;
    font-weight: 700;
    line-height: 36px;
    font-size: 30px;
    letter-spacing: 0.24px;
    margin: auto; }
    @media (max-width: 768px) {
      .item-slider__title {
        font-size: 25px; } }
    @media (max-width: 630px) {
      .item-slider__title {
        font-size: 20px;
        line-height: 30px; } }
  .item-slider__subtitle {
    padding: 30px 0 0 0;
    color: #fff;
    font-family: Montserrat;
    font-size: 12px;
    font-weight: 500;
    line-height: 36px;
    text-transform: uppercase;
    letter-spacing: 1.2px; }

.clients {
  padding: 60px 0; }
  .clients .clients__row {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    justify-content: center;
    -ms-align-items: center;
    align-items: center; }
    @media (max-width: 1300px) {
      .clients .clients__row {
        flex-wrap: wrap;
        max-width: 800px;
        margin: auto; } }
  .clients .clients__item {
    padding: 0 75px; }
    @media (max-width: 1300px) {
      .clients .clients__item {
        padding: 30px 75px; } }

.needAProject {
  width: 100%;
  background-color: #f5f5f5;
  text-align: center;
  padding: 100px 30px; }
  .needAProject__subtitle {
    color: #787878;
    font-family: Nunito;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.08px;
    max-width: 540px;
    margin: auto;
    padding: 10px 0 50px 0; }
  .needAProject__form {
    max-width: 670px;
    margin: auto; }
    .needAProject__form input {
      width: 670px;
      height: 50px;
      background-color: #fff;
      color: #787878;
      font-size: 15px;
      font-family: Nunito;
      line-height: 24px;
      letter-spacing: 0.07px;
      padding: 10px; }
      @media (max-width: 768px) {
        .needAProject__form input {
          width: 100%; } }
    .needAProject__form ::-webkit-input-placeholder {
      color: #787878;
      font-size: 15px;
      font-family: Nunito;
      line-height: 24px;
      letter-spacing: 0.07px; }
    .needAProject__form textarea {
      width: 670px;
      height: 170px;
      background-color: #fff;
      color: #787878;
      font-size: 15px;
      font-family: Nunito;
      line-height: 24px;
      letter-spacing: 0.07px;
      padding: 10px;
      resize: none;
      margin: 30px 0 0 0;
      overflow: auto; }
      @media (max-width: 768px) {
        .needAProject__form textarea {
          width: 100%; } }
    .needAProject__form textarea::-webkit-input-placeholder {
      color: #787878;
      font-size: 15px;
      font-family: Nunito;
      line-height: 24px;
      letter-spacing: 0.07px; }
    .needAProject__form button {
      margin: 30px 0 0 0;
      width: 180px;
      height: 50px;
      background-color: #10c9c3;
      color: #fff;
      font-family: Montserrat;
      font-size: 12px;
      font-weight: 500;
      letter-spacing: 1.2px;
      text-transform: uppercase;
      -webkit-transition: all 0.3s ease 0s;
      -o-transition: all 0.3s ease 0s;
      transition: all 0.3s ease 0s; }
      @media (max-width: 480px) {
        .needAProject__form button {
          width: 100%; } }
      .needAProject__form button:hover {
        background-color: #0B8D89; }
  .needAProject__nameEmail {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    justify-content: space-between;
    -ms-align-items: center;
    align-items: center;
    padding: 0 0 30px 0; }
    .needAProject__nameEmail input {
      width: 320px; }
      @media (max-width: 768px) {
        .needAProject__nameEmail input {
          width: 48%; } }

.footer {
  width: 100%;
  background-color: #141414;
  padding: 80px 30px;
  text-align: left; }
  .footer__row {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    justify-content: space-between;
    -ms-align-items: flex-start;
    align-items: flex-start; }
    @media (max-width: 930px) {
      .footer__row {
        -webkit-flex-direction: column;
        -moz-flex-direction: column;
        -ms-flex-direction: column;
        -o-flex-direction: column;
        flex-direction: column;
        justify-content: center;
        -ms-align-items: center;
        align-items: center;
        text-align: center; } }
  .footer__column.footer__column_contacts {
    font-family: "Work Sans" sans-serif; }
  .footer__title {
    font-size: 18px;
    font-weight: 700;
    font-family: Montserrat;
    letter-spacing: 0.18px;
    padding: 0 0 15px 0; }
  .footer p, .footer a {
    display: block;
    color: #bcbcbc;
    font-size: 15px;
    line-height: 24px;
    letter-spacing: 0.07px;
    font-family: Nunito; }
  .footer a:hover {
    color: #E2E2E2; }

.column-row {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  justify-content: center;
  -ms-align-items: center;
  align-items: center; }
  @media (max-width: 930px) {
    .column-row {
      padding: 30px 0 0 0; } }
  .column-row__item {
    padding: 0 25px; }
    @media (max-width: 480px) {
      .column-row__item {
        padding: 0 10px; } }
    .column-row__item:last-child {
      padding: 0 0 0 50px; }
      @media (max-width: 480px) {
        .column-row__item:last-child {
          padding: 0 0 0 10px; } }
